.File {
  max-width: 1200px;
  margin: 50px auto;
  .dirfile-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    div {
      display: flex;
      align-items: center;
      padding: 10px;
      max-width: 700px;
      height: 20px;
      border: 1px solid lightgray;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover {
        background-color: rgb(194, 232, 255);
      }
    }
  }
}
