.File {
  max-width: 1200px;
  margin: 50px auto;
  .cd {
    font-family: "consolas";
    color: white;
    background-color: black;
    letter-spacing: 1px;
    padding: 10px;
  }
  .dirfile-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    div {
      display: flex;
      align-items: center;
      padding: 10px;
      max-width: 700px;
      height: 20px;
      border: 1px solid lightgray;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover {
        background-color: rgb(194, 232, 255);
      }
    }
  }
  .dirfile-popup-background.on {
    position: fixed;
    inset: 0;
    background-color: rgba(black, 0.8);
    .dirfile-popup {
      position: absolute;
      margin: auto;
      width: 800px;
      height: 500px;
      inset: 0;
      background-color: white;
      .dirfile-popup-eraser {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 35px;
        height: 35px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        background-color: red;
        border: 1px solid lightgray;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: darkred;
        }
      }
    }
  }
  .dirfile-popup-background.off {
    display: none;
  }
}
