.File {
  max-width: 1200px;
  margin: 50px auto;
  .dirfile-container {
    display: flex;
    margin: 50px auto;
    div {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 200px;
      height: 50px;
      border: 1px solid lightgray;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
