.File {
  max-width: 1200px;
  margin: 50px auto;
  .cd {
    font-family: "consolas";
    color: white;
    background-color: black;
    letter-spacing: 1px;
    padding: 10px;
  }
  .mk-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    > div {
      padding: 25px;
      border: 1px lightgray solid;
      * {
        display: block;
        margin: 10px 10px 10px 0;
      }
    }
  }
  .dirfile-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    div {
      display: flex;
      align-items: center;
      padding: 10px;
      max-width: 700px;
      height: 20px;
      border: 1px solid lightgray;
      margin-bottom: 15px;
      cursor: pointer;
      &.isDir {
        &::before {
          content: '';
          width: 35px;
          height: 35px;
          margin-right: 10px;
          background-image: url(../Assets/dir-icon.png);
          background-size: contain;
        }
        &:hover {
          background-color: rgb(255, 240, 176);
        }
      }
      &.isFile {
        &::before {
          content: '';
          width: 35px;
          height: 35px;
          margin-right: 10px;
          background-image: url(../Assets/file-icon.png);
          background-size: contain;
        }
        &:hover {
          background-color: rgb(194, 232, 255);
        }
      }
    }
  }
  .dirfile-popup-background.on {
    position: fixed;
    inset: 0;
    background-color: rgba(black, 0.8);
    .dirfile-popup {
      position: absolute;
      margin: auto;
      width: 800px;
      height: 500px;
      inset: 0;
      background-color: white;
      padding: 25px;
      display: grid;
      grid-template-columns: 150px 500px;
      grid-template-rows: 25px 25px 25px 25px 25px 25px minmax(25px, 100px);
      gap: 10px;
      * {
        font-size: 1rem;
        font-family: 'consolas';
        letter-spacing: 1px;
      }
      .filename-text {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
      }
      .filename {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      .owner-text {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
      .owner {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
      .group-text {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
      }
      .group {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
      }
      .size-text {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
      }
      .size {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
      }
      .date-text {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
      }
      .date {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
      }
      .flags-text {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
      }
      .flags {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
      }
      .cat-button {
        grid-row: 7 / 8;
        grid-column: 1 / 3;
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 25px;
        cursor: pointer;
        &.off {
          display: none;
        }
      }
      .content {
        grid-row: 7 / 8;
        grid-column: 1 / 3;
        height: 200px;
        padding: 25px;
        color: white;
        background: black;
        resize: none;
        &.off {
          display: none;
        }
      }
      .delete-button {
        bottom: 10px;
        left: 10px;
        background-color: pink;
      }
      .update-button {
        bottom: 10px;
        right: 10px;
        background-color: aqua;
      }
      .delete-button, .update-button {
        position: absolute;
        width: 200px;
        height: 35px;
        border: 1px lightgray solid;
        cursor: pointer;
        &:hover {
          box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        }
      }
      .dirfile-popup-eraser {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 35px;
        height: 35px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        background-color: red;
        border: 1px solid lightgray;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: darkred;
        }
      }
    }
  }
  .dirfile-popup-background.off {
    display: none;
  }
}
