.Header {
  display: flex;
  a {
    color: blue;
    margin-right: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-right: 1px lightgray solid;
    &:hover {
      text-decoration: underline;
    }
  }
}
